@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    --navblue: #1B75BC;
    --white:#FFFFFF;
    --skyblue: #11CFDE; 
    --red:#F04D64;
    --orange: #F8BA2D;
    --black: #2F2D2D;
    --blackish:#9B9B9B;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    --footerblue:#155D96;
    --darkerblue:#155A91;
    --darklue:#0E3B5E;
    --purple:#351A5C;
    --yellow: #FCBC0E;
    --aquamarine:  #65C19C;
}
h1{
    font-size: 20px;
}
